nav {
  height: 120px;
  background-color: #4056a1;
  color: #fff;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  /* overflow: hidden; */
}

span {
  font-family: 'Bungee', sans-serif;
}

/* nav span:last-of-type {
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
} */

.wrapper {
  float: right;
}

.wrapper span {
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper .nav-double-arrow {
  text-align: center;
}

.wrapper .nav-double-arrow i {
  font-size: 16px;
  color: #e60000;
}


@media only screen and (max-width: 990px) {
  nav {
    background-color: #ff9933;
  }
}

