.new-tweet {
  width: 100%;
}

.new-tweet form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-tweet h2 {
  text-align: center;
}

.new-tweet textarea {
  display: block;
  height: 40px;
  width: 100%;
  margin: 10px 0;
  background-color: #f4f1ec;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid;
  overflow: hidden;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet button {
  margin-top: 15px;
  padding: 3px 5px;
  font-family: 'Bungee', sans-serif;
  background-color: #002699;
  border-color: #002699;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.new-tweet output {
  font-weight: bold;
}

#error-msg {
  color: #b30000;
  display: inline-block;
  
}

#error-msg span {
  margin: 30px auto;
}

.fa-exclamation-triangle:before {
  margin-right: 20px;
}

.hidden {
  display: none;
}

/* https://blog.hubspot.com/website/css-fade-in */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}