.new-tweet form {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-tweet h2 {
  text-align: center;
}

.new-tweet textarea {
  display: block;
  height: 40px;
  width: 1000px;
  margin: 10px 0;
  background-color: #f4f1ec;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid;
  overflow: hidden;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet button {
  margin-top: 15px;
  padding: 3px 5px;
  font-family: 'Bungee', sans-serif;
  background-color: #002699;
  border-color: #002699;
  color: #fff;
  font-size: 20px;
}

.new-tweet output {
  font-weight: bold;
}


